.container{
    text-align: center;
    border-radius: 5%;
    padding: 20px;
    margin: 20px;
    font-size: 25px;
    width: 530px;
}
.container > input {
    background-color: #EAE7E7;
    border: 1px solid #cdcccc;
    border-radius: 5px;
    padding-left: 20px;
    outline: none;                
    color: #909090;
    height: 40px;
    width: 500px;
    margin-bottom: 10px;
 }
 .container> button{
    background-color: white;
    color: #7E5935;
     height: 40px;
     width: 250px;
     outline:  none;
     position: relative;
     margin-top: 10px;
     font-weight: bold;
 }
 .chat{
     width: 530px;
     border: 1px solid black;
 }